.container {
    padding: 40px;
}

.resultsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
    margin-top: 40px;
}

.paginationContainer {
    display: flex;
    justify-content: center;
}