/* *******

    Title : font-family: 'Carter One', cursive;

    Text : font-family: 'Mada', sans-serif;

    Title : color: #FFFFFF;

    Text : color : #c8d6e5;

    Video legend : color: #576574;

*******  */

/*
global
*/

body {
  text-align: center;
  background-color: #222f3e;
  color : #c8d6e5;
  font-family: 'Mada', sans-serif;
  font-size: 1.3rem;
}

.heading-site {
  text-align: center;
  font-family: 'Carter One', cursive;
  color: #FFFFFF;
}

.text-cell {
  vertical-align: middle;
  padding-left: 3%;
}

.image-rounded-corners {
  border-radius: 6px;
}

*:focus {
  outline: none;
}

.text-area {
  margin: 4rem 0;
}

.large-banner {
  background-image: url("../../src/img/city-pop-baniere");
  background-size: cover;
  width: 100%;
  height: 30rem;
  overflow: hidden;
  position: relative;

}

.large-banner-content {
  margin-top: 12.85625rem;
  padding: 2rem 0;
  text-align: center;
  background: rgba(0, 0, 0, .5);
  width: 100%;
}


.banner-credit {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
}

.hashtag-section {
  margin: 1rem 2rem;
}

.hashtag {
  padding: 0.3rem 0.5rem;
  margin: 1rem 1rem;
  background-color: #576574;
  color: #00d2d3;
  border-radius: 4px;
}

.hashtag-section a:hover {
  background-color: #c8d6e5;
}

/*
navigation bar
*/

.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, .65);
}

.header-logo {
  color: #FFFFFF;
  font-family: 'Carter One', cursive;
  float: left;
  margin-left: 1.85rem;
  font-size: 1.85rem;
}

.header-logo a:hover {
  color: #ffffff;
}

.navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover {
  color : white;
}

.navbar-menu {
  background-color: rgba(0, 0, 0, 0);
  padding-right: 1.85rem;
}

.navbar-menu a {
  font-family: 'Mada', sans-serif;
  font-size: 20px;
  color: #FFFFFF;
}

.navbar-menu a:hover,
.burger a:hover {
  background-color: rgba(0, 0, 0, .5);
  color: #feca57;
}

.burger span {
  color: #FFFFFF;
  height:2px;
}

.burger a:hover {
  background-color: rgba(0, 0, 0, .5);
  color: #feca57;
}

.navbar-burger {
  margin-right: 30px;
}

/*
informations
*/

.about {
  text-align: center;
  color : #c8d6e5;
  padding-top: 1.125rem;
  padding-bottom: 1.875rem;
}

.about h3 {
  margin-bottom: 1rem;
}

.about a {
  color: #c8d6e5;
}

.about a:hover {
  color: #48dbfb;
}

.about-separator {
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 0;
  background-color: rgba(0, 0, 0, .5);
}

/*
intro
*/



/*
influence
*/



/*
video
*/

  .video-area {
  margin: 2rem 0;
  padding: 3rem 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.video-container iframe {
  width: 32rem;
  height: 18rem;
  border-radius: 7px;
  margin: 1rem 1rem;
}

.video-caption {
  color:#576574;
  font-style: italic;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 650px) {
  .header-logo, .title {
    font-size: 1.5rem;
  }
}
